<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @status_update.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @status_update.user_id %>
</p>

<%= link_to 'Edit', edit_status_update_path(@status_update) %> |
<%= link_to 'Back', status_updates_path %>
